body
{
    padding: 0;
    margin: 0;
}

/* -------HEADER SECTION-----------*/

.header
{
    width: 100%;
    height: auto;
    background-color: #001;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
}

.header__nav-logo 
{
    width: auto; 
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin-left: 10vh;
    column-gap: 10px;
}
    .header__nav-logo span
    {
        color: rgb(255, 255, 255);
        /* font-size: 30px; */
    }
    .header__nav-logo a
    {
        text-decoration: none;
        font-weight: bold;
        font-size: 20px;
        color: white;
    }
.header__nav 
{
    display: flex;
    justify-content: right;
    margin-right: 10vh;
}
.header__nav-list
{
    display: flex;
    flex-wrap: nowrap;
    column-gap: 5vh;
}
    .header__nav-list li
    {
        list-style: none;
    }

    .header__nav-list li a
    {
        text-decoration: none;
        color: white;
    }

/*-----Main Home Section------*/

.main__home
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 45% 65%;
    grid-template-rows: 400px 100px 100px;   
    font-family: 'Lato', sans-serif;
    overflow:hidden;
}
    .main__home-main
    {
        width: 100%;
        background-color: white;
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: 80%;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        grid-template-rows: auto auto auto;
        justify-content: center;
        align-content: center;
        z-index: 3;
        margin-bottom: -200px;
        padding-bottom: 100px;
        padding-left: 50px;
        /* border-bottom-right-radius: 50%; */
    }
        .main__home-title
        {
            /* border: 1px solid red; */
            font-size: 5em;
            padding: 0;
            margin: 0;
            letter-spacing: 4px;
        }
        .main__home-slogan
        {
            /* border: 1px solid red; */
            font-size: 2rem;
            padding: 0;
            margin: 0;
            letter-spacing: 2px;
        }
        .main__home-dowloadButtons
        {
            /* border: 1px solid red; */
            display: grid;
            grid-template-columns: 120px 120px;
            grid-template-rows: 35px;
            margin-top: 2vh;
            column-gap: 1rem;
            font-size: 1rem;
        }
            .home__dowload-apple, .home__dowload-android
            {
                /* border: 1px solid red; */
                display: flex;
                column-gap: 10px;
                align-items: center;
                font-size: 1rem;
                border-radius: 5px;
                justify-content: center;
                border: none;
                letter-spacing: 1px;
                transition: all 0.5s;
            }
            .home__dowload-android
            {
                color: #fff;
                background-color:#001;
                transition: all 0.5s;
            }
            .home__dowload-android:hover 
            {
                color: #001;
                background-color:#fff;
                cursor: pointer;
                border: 1px solid grey;
            }
            .home__dowload-apple:hover
            {
                color: #fff;
                background-color:#001;
                cursor: pointer;
                border: 1px solid grey;
            }
            .home__dowload-apple p, .home__dowload-android p
            {
                border: none;
                padding: 0;
                margin: 0;
            }
    .main__home-img
    { 
        width: 100%;
        /* border: 1px solid red; */
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        background-image: url("assets/imgs/background-1.2.jpg");
        overflow:hidden;
        background-size: contain;
        /* background-repeat: ; */
        /* background-size: cover; */
    }
    .main_home-img-gradient
    {
        width: 100%;
        grid-column: 1 / 4;
        grid-row: 2 / 4;
        overflow:hidden;
        background-color: transparent;
        background-image: linear-gradient(0deg, #ffffff 0%, transparent 100%);
    }    

/*-----Main About Section------*/

.main__about
{
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 17em);
    grid-template-rows: repeat(1, 50px);
    column-gap: 4em;
    justify-content: center;
    align-content: center;
    /* align-items: center;   */
    font-family: 'Lato', sans-serif;
}
    .main__about-item
    {
        /* border: 1px solid red; */
        display: grid;
        /* grid-template-columns: ; */
    }
        .main__about-item h3, .main__about-item p
        {
            padding: 0;
            margin: 0;
            margin-top: 5px;
            letter-spacing: 0.5px;
        }
    .about-img-containers
    {
        width: 100%;
        margin-top: 1em;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /* justify-items: center; */
    }
        .about-img-containers img
        {
            width: 80%;
        }

/*------ Shop section --------*/
.main__shop
{
    width: 100%;
    height: 800px;
    margin-top: 150px;
    display: grid;
    overflow:hidden;
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 100px;
}
    .main__shop-background
    {
        background-color: transparent;
        background-image: linear-gradient(0deg, #fff 0%, #ffffff00 50%, #ffffff00 50%, #fff 100%);
        grid-column: 1 / 4;
        grid-row: 1 / 4;
        z-index: 1;
        
    }
    
    .main__shop-blur
    {
        background-image: url(assets/imgs/background-3.jpg);
        background-size: cover;
        grid-column: 1 / 3;
        grid-row: 1 / 4;
    }
    .main__shop-button-left, .main__shop-button-right
    {
        width: 250px;
        height: 100%;
        grid-column: 1 / 2;
        grid-row: 1 / 4;
        z-index: 2;
        background-color: transparent;
        background-image: none;
        transition: opacity 0.5s;
        background-color: transparent;
        background-image: linear-gradient(270deg, transparent 30%, rgba(17, 17, 17, 0.5) 100%);
        opacity: 0;
    }
    .main__shop-button-right
    {
        margin: 0 0 0 auto;
        background-color: transparent;
        background-image: linear-gradient(90deg, transparent 30%, rgba(17, 17, 17, 0.7) 100%);
        opacity: 0;
    }
    .button-rigth-hide
    {
        display: none;
    }
        .main__shop-button-left:hover, .main__shop-button-right:hover
        {
            cursor: pointer;
            opacity: 1;
        }


    /*Shortcuts to individual clothes and stuff*/
        
    .main__shop-container
    {
        width: 160%;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: auto;
        align-content: center;
        align-items: center;
        overflow:hidden;
        justify-content: left;
        column-gap: 100px;
        grid-column: 1 / 4;
        grid-row: 2 / 3;
        z-index: 1;
        padding-left: 100px;
    }

    .animation-right
    {
        animation-name: gotoRight;
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }
    .animation-left
    {
        animation-name: gotoLeft;
        animation-duration: 2s;
        animation-fill-mode:forwards;
    }

        #shop__item
        {
            background-color: #c08debe8;
            color: white;
            font-family: 'Lato', sans-serif;
            font-size: 24px;
            border-radius: 10px;
            transform: translate(0px, 0px);
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            align-content: center;
            align-items: center;
            justify-content: center;
            box-shadow: -1px -1px 43px 23px rgba(0,0,0,0.6);
            -webkit-box-shadow: -1px -1px 43px 23px rgba(0,0,0,0.6);
            -moz-box-shadow: -1px -1px 43px 23px rgba(0,0,0,0.6);
        }
        #shop__item:nth-child(2)
        {
            background-color: #aacfc5e8;
        }
        #shop__item:nth-child(3)
        {
            background-color: #ebacc8de;
        }
        #shop__item:nth-child(4)
        {
            background-color: #b0b6c2f3;
        }
        #shop__item:nth-child(5)
        {
            background-color: #d8c096f1;
        }
            .shop__item-select
            {
                animation-name: test;
                animation-duration: 0.5s;
                animation-fill-mode:forwards;
                width: 300px;  
                height: 300px;
            }   
            .shop__item
            {   
                animation-name: test2;
                animation-duration: 0.5s;
                animation-fill-mode: forwards;
                width: 300px;
                height: 420px;
            }

        
                #shop__item-show
                {
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-row: 1 / 2;
                    align-content: center;
                    justify-content: center;
                    justify-items: center;
                    text-align: center;
                    letter-spacing: 4px;
                }
                    #shop__item-show img
                    {
                        width: 120px;
                    }
                    #shop__item-show h4
                    {
                        margin: 0;
                    }
            
            #shop__item-hide
            {
                width: 100%;
                height: 100%;
                background-color: rgb(235, 235, 235);
                color: #001;
                font-size: 0.7em;
                display: grid;
                grid-row: 2 / 3;
                grid-template-rows: 0.5fr 1.2fr 0.7fr;
                padding: 0 9%;
                box-sizing: border-box;
                border-radius: 0 0 10px 10px;
                opacity: 0;
            }
                .shop__
                {
                    animation-name: test3;
                    animation-duration: 1.5s;
                    animation-fill-mode: forwards;
                }
                .shop__item-hide
                {
                    animation-name: test4;
                    animation-duration: 0.25s;
                    animation-fill-mode: forwards;
                }

                .shop__ p
                {
                    margin: 0;
                    letter-spacing: 1px;
                }
                .shop__ h3
                {
                    letter-spacing: 1px;
                }

                .shop-button
                {
                    width: 100%;
                    height: 100%;
                    text-align: right;
                }
                    .shop-button-color-1, .shop-button-color-2, .shop-button-color-3, .shop-button-color-4, .shop-button-color-5
                    {
                        background-color: #c08debe8;
                        border-radius: 5px;
                        padding: 5px 10px;
                        text-decoration: none;
                        color: #fff;
                        letter-spacing: 1px;
                    }
                    .shop-button-color-2
                    {
                        background-color: #aacfc5;
                    }
                    .shop-button-color-3
                    {
                        background-color: #ebacc8;
                    }
                    .shop-button-color-4
                    {
                        background-color: #b0b6c2;
                    }
                    .shop-button-color-5
                    {
                        background-color: #d8c096;
                    }
    
    
            @keyframes test2
            {  
                0%
                {   
                    width: 300px;
                    height: 420px;
                    grid-template-rows: 55% 45%;
                }
                
                100%
                {    
                    width: 300px;   
                    height: 300px;
                    grid-template-rows: 100% 0%;
                } 
            }
            @keyframes test
            {  
                0%
                {
                    width: 300px;   
                    height: 300px;
                    grid-template-rows: 100% 0%;
                }
                100%
                {
                    width: 300px;
                    height: 420px;
                    grid-template-rows: 55% 45%;
                } 
            }

            @keyframes test4  {
                0%
                {
                    opacity: 1;
                }
                100%
                {
                    opacity: 0;
                }
            }
            @keyframes test3 {
                0%
                {
                    opacity: 0;
                }
                100%
                {
                    opacity: 1;
                }
            }


    @keyframes gotoRight 
    {
        0%
        {
            transform: translate(0px, 0px);
        }    
        100%
        {
            transform: translate(-800px, 0px);
        }  
 
    }
    @keyframes gotoLeft 
    {
        0%
        {
            transform: translate(-800px, 0px);
        }    
        100%
        {
            transform: translate(0px, 0px);
        }  
 
    }


    /*----------------FOOTER----------------*/


    .footer
    {
        width: 100%;
        min-height: 300px;
        background-color: #001;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 45% 40%;
        justify-content: center;
        align-content: center;
    }
        .footer-info, .footer-socialmedia
        {
            width: 100%;
            height: 100%;
        }
        .footer-socialmedia
        {
            border-top: 2px solid white;
        }
        .footer-info
        {
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: 90%;
            justify-content: center;
            align-items: flex-start;
            align-content: center;
        }
            .footer-info-item
            {
                width: auto;
                /* border: 1px solid white; */
                display: grid;
                font-size: 17px;
                letter-spacing: 3px;
                padding: 0 50px 0 50px;
            }
                .footer-info-item a
                {
                    color: white;
                    font-family: 'Lato', sans-serif;
                    text-decoration: none;
                    margin-top: 1px;
                }
            .footer-info-item:nth-child(1)
            {
                grid-template-columns: auto auto;
            }
            .footer-info-item:nth-child(1) img
            {
                width: 50%;
            }
        .footer-socialmedia
        {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 60% 20%;
            justify-content: center;
            align-content: center;
            color: white;
            font-family: 'Lato', sans-serif;
            
        }    
            .footer-socialmedia-icons, .footer-socialmedia-copyright
            {
                /* border: 1px solid white; */
                letter-spacing: 1px;
            }
            .footer-socialmedia-icons
            {
                display: grid;
                grid-template-columns: auto auto auto auto auto;
                justify-content: center;
                align-content: center;
                column-gap: 15px;
            }
                .footer-socialmedia-icons a
                {
                    text-decoration: none;
                    color: white;
                    font-size: 5vh;
                }
        